
.safety-page {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem;
}


.safety-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #1b3c59; 
}

.safety-overview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
    margin-bottom: 3rem;
}

.safety-overview img {
    width: 100%;
    border-radius: 12px;
}

.safety-overview h2 {
    margin-bottom: 0.5rem;
}

.required-gear {
    text-align: center;
    margin-bottom: 3rem;
}

.gear-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-top: 1rem;
}

.gear-item {
    padding: 1rem;
    border-radius: 12px;
    background-color: #fff8d6;
    border: 2px solid #e9c96d;
    min-height: 150px;
}

.gear-item h3 {
    margin-bottom: 0.5rem;
    color: #594013;
}

.river-rules {
    margin-bottom: 3rem;
    text-align: center;
}

.river-rules ul {
    max-width: 600px;
    margin: 1rem auto;
    text-align: left;
    padding-left: 1.5rem;
}

.river-rules li {
    margin-bottom: 0.5rem;
}

.pretrip-checklist {
    text-align: center;
    margin-bottom: 3rem;
}

.pretrip-checklist ul {
    max-width: 600px;
    margin: 1rem auto;
    text-align: left;
    padding-left: 1.5rem;
}

.pretrip-checklist li {
    margin-bottom: 0.5rem;
}

